[run]
source = hip_data_tools

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    venv/*
    hip_data_tools/__init__.py
