botocore==1.25.7
cloudpickle==2.0.0
ConfigParser==5.2.0
confluent_kafka==1.8.2
ctypes_snappy==1.03
cython==0.29.28
eventlet==0.33.0
fastapi==0.75.2
fasteners==0.17.3
fastparquet==0.8.1
Flask==2.1.2
freezegun==1.2.1
fsspec==2022.3.0
futurist==2.4.0
geomet==0.3.0
gevent==21.12.0
GitPython==3.1.27
google_auth_oauthlib==0.5.1
greenlet==1.1.2
httplib2==0.20.4
hypothesis==6.46.2
jmespath==1.0.0
joblib==1.1.0
JPype1==1.3.0
jsonpickle==2.1.0
kerberos==1.3.1
keyring==23.5.0
lxml==4.8.0
lz4==4.0.0
MarkupSafe==2.1.1
mock==4.0.3
moto==3.1.7
numba==0.53.1
numpy==1.22.3
pandas==1.4.2
pep562==1.1
pickle5==0.0.12
proto==0.0.1
psutil==5.9.0
pure_sasl==0.6.2
py==1.11.0
pyasn1==0.4.8
pyasn1_modules==0.2.8
pycryptodome==3.14.1
pyOpenSSL==22.0.0
pytest==7.1.2
python_dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
rsa==4.8
s3transfer==0.5.2
scales==1.0.9
scipy==1.8.0
sets==0.3.2
setuptools==62.1.0
setuptools_scm==6.4.2
six==1.16.0
sparse==0.13.0
Sphinx==4.5.0
stringcase==1.2.0
testcontainers==3.5.3
torch==1.11.0
Twisted==22.4.0
typing_extensions==4.2.0
webapp2==2.5.2
xmltodict==0.12.0
zeep==4.1.0
zope==5.5.1
